@import url('https://fonts.googleapis.com/css?family=Barlow:400,700|Lacquer|Roboto&display=swap');

body {
  background-color: white;
  color: black;
  font-family: "Barlow", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 60px;
  text-align: center;
  letter-spacing: 2px;
  font-family: "Lacquer", sans-serif;
  padding: 5px 0;
}

span {
  color: red;
}

h2 {
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
  text-transform: lowercase;
  font-weight: normal;
  padding: 0px;
}

.list-header1 {
  padding: : 0px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.list-header2 {
  padding: 0px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-weight: normal;
}

#bio {
  text-align: center;
}

.list {
  list-style-type: none;
  width: 600px;
  margin: 0 auto;
}


a.nav-link {
  color: black;
}

a.nav-link:hover {
  color: red;
}
